/* You can add global styles to this file, and also import other style files */


table{
    width: 100%;
    border: 1px solid #999;
    
}

td{
    border: 1px solid #999;
    padding: 5px;
}
thead{
    background-color: rgb(96, 177, 143);
    color: rgb(1,16,29);
    line-height: 2em;
    font-weight: bold;
  
}
.is-even{
    background-color: rgb(236, 236, 192);
}
.is-odd{
    background-color: rgb(144, 144, 223);
}
.emptyDataset{
    padding: 5px;
    background-color: red;
    color: aliceblue;
}
.thumbnail{
    width: 70px;
}
/* .red-text {
    color: red;
} */

.span{
    font-size: 14px;
    font-style: italic;
    color: white;
    background-color: red;
}
.found{
    font-size: 14px;
    font-style: italic;
    color: white;
    background-color: red;
}
.smallBook{
    font-size: 14px;
    font-style: italic;
    color: white;
    background-color: red;
}

.palmeYayin{
    font-size: 14px;
    font-style: italic;
    color: black;   
    background-color: rgb(201, 112, 201);   
}
.kirmiziKedi{
    font-size: 14px;
    font-style: italic;
    color: peru; 
    background-color: yellowgreen   
}
.iletisim{
    font-size: 14px;
    font-style: italic;
    color:orange;   
    background-color: aqua;
}

.deneme{
    font-size: 14px;
    font-style: italic;
    color:greenyellow;   
    background-color: aqua;
}
.intibak{
    font-size: 14px;
    font-style: italic;
    color:blue;  
    background-color: orchid; 
}


