span{font-size:20px;
    color: #F00;
    
    }
     .book{
    
        max-width: 500px;
        margin:50px auto;
        border: 2px solid #AAA;
        border-radius: 6px;
        padding: 10px;
     }
    
     .book-card{
      
        text-align: center;
        background-color: #BBB;
        padding: 20px;
           
    
     }
    
     .book-name{
    
       font-size: 40px;
       font-weight: 600;
       color: red;
       margin-bottom: 5px;
     }
    
     .book-author{
    
       font-size: 30px;
       font-weight: 600;
       margin-bottom: 10px;
       border: 1px solid #333;
       background-color: #EEE;
       padding: 10px 0;
     }
     .book-image img{
       width: 350px;
     }
    
     .book-category{
       margin-top: 15px;
       border: 1px solid yellow;
       border-radius: 5px;
       background-color: navy;
       color: yellow;
       font-weight: bold;
       font-size: 26px;
       padding: 10px 0;
     }
    